<html>

<style>
    img 
    {
    border-radius: 50%;
    }

    body
    {
        background-color: gray;
    }

    h1
    {
        color: white;
        background-color: blueviolet;
        
    }

</style>
<body>
    <h1>EJS Cats</h1>

     <a href ="/jax"> <img src="cat1.jpg" style="width:350px;height:200px;"/> <br><br>
     <a href ="/dexter"> <img src="cat2.jpg" style="width:350px;height:200px;"/> <br><br>
    <a href ="/lyla"> <img src="cat3.jpg" style="width:350px;height:200px;"/> <br><br>


</body>
</html>