<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Quoting Dojo</title>
  </head>

  <style>
    body
    {
      background-color: indigo;
    }
    .box
    {
      
      
    }

    .inner
    {
      margin-left: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .words
    {
      color: white;
    }

    .error
    {
      color:white;
    }
  </style>

  <body>

    <div class="box">
      <div class="inner">

      <h1 class="words">Quoting Dojo</h1>

      <div class="error">
      <% if(messages.quote) { %>
      <% for (var x of messages.quote) { %>
      <h3><%= x %></h3>
      <% } %>
      <% } %>
      </div>

        <form action="/users" method="post">
            <p class="words">Your Name:</p> <input type="text" name="name" class="form-control col-2"><br><br>
            <p class="words">Your Quote:</p> <textarea name="quote" class="form-control col-2"></textarea><br><br>


            <button type="submit" class="btn btn-outline-light">Add my Quote</button>

        </form><br>
        <a href ="/quotes"><button class="btn btn-outline-light"> SKIP TO QUOTES</button></a>
      </div>
      </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>

</html>