<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type ="text/javascript">

        $(document).ready(function (){

        var socket  = io.connect();

        //emits "CHANGE" 
        $('#green').on('click', function() {
        socket.emit('green');
        });

        //emits "CHANGE" 
        $('#blue').on('click', function() {
        socket.emit('blue');
        });

        //emits "CHANGE" 
        $('#pink').on('click', function() {
        socket.emit('pink');
        });

        //listening for "color_change"
        socket.on('change_green', function() {
            $("body").css({
                "background-color":"green"
            });
        })

        //listening for "color_change"
        socket.on('change_blue', function() {
            $("body").css({
                "background-color":"blue"
            });
        })

        //listening for "color_change"
        socket.on('change_pink', function() {
            $("body").css({
                "background-color":"fuchsia"
            });
        })
  


    });

    </script>    

</head>

<style>
    .section
    {
        margin-left: 50px;
        margin-top: 25px;
    }
</style>
<body class ="whole">

<div class="section">
<h1>Change the screen color!</h1>

<button id ="green" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off"> Green </button>
<button id ="blue" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"> Blue </button>
<button id ="pink" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off"> Pink </button>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
   
</body>
</html>