<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">



    <title>Document</title>
</head>
<body>
    <div class= "whole">
    <a href ="/cats">BACK</a>

    <h1 class="red">Add a Car</h1>
    </div>

    <form>
        Make:<br>
          <input type="text" name="firstname"><br>
        Model:<br>
          <input type="text" name="lastname"><br>
        Year:<br>
          <input type="text" name="firstname"><br>
        Color:<br>
          <input type="text" name="lastname"><br>
        <button> SUBMIT </button>
      </form>


</body>
</html>